%script{src:"#{url("bootstrap.file-input.js")}"}


%div.col-md-10.col-md-offset-1{style: "margin-bottom: 50px;"}
  %a.btn.btn-default.pull-right{href:"/"} Back
  %h2 CSV Import / Export


%div.col-md-5.col-md-offset-1
  %div.panel.panel-default
    %div.panel-heading Import
    %div.panel-body
      %form{action: "/transaction/import", method: "post", enctype: "multipart/form-data",  class: "form-horizontal"}
        %div.form-group.col-md-12
          %label CSV type:
          %select.form-control{name: "format", style: "width:auto; display:inline;"}
            %option{value: "rabobank"} Rabobank
            %option{value: "koi"} Koi
        %div.form-group.col-md-12
          %label CSV file:
          %input.file-inputs{type: "file", name: "file"}
        %div.form-group.col-md-12
          %label Shared:
          %input{type: "checkbox", value: "t", checked: true, name: "shared"}
        %div.form-group.col-md-12
          %button.pull-right{type: "submit", class: "btn btn-primary"} Import transactions

%div.col-md-5
  %div.panel.panel-default
    %div.panel-heading Export
    %div.panel-body
      %div.col-md-12
        %form.form-horizontal{action: "/transaction/export", method: "post"}
          %div.form-group
            %label.col-md-2 File name
            %div.col-md-10
              %input.form-control{type: "text", value: "Koi-#{@user.name}-#{Date.today}.csv", name: "filename"}
          %button.btn.btn-primary.pull-right{type: "submit"} Export transactions

%script{src: "/input.js", type: "text/javascript"}
