= session[:user] || "No user selected"
%div.col-md-6.col-md-offset-3
  %table.table.table-striped
    %thead
      %tr
        %th id
        %th date
        %th amount
        %th target
        %th reason
        -# %th category
    %tbody
      -# - @user.transactions.each do |t|
      %tr
        %td 1
        %td 1
        %td 1
        %td 1
        %td 1
        -# %td= t.id
        -# %td= t.date
        -# %td= t.amount
        -# %td= t.target
        -# %td= t.reason
          -# %td= t.category
