!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Kroisos
    %link{href: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel: "stylesheet"}

  %body
    -# navigation styled for Bootstrap 3.0
    %nav.navbar.navbar-inverse.navbar-default{style: "border-radius:0"}
      .navbar-header
        %a{href: "/", class: "navbar-brand"} Kroisos
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %ul.navbar.nav.navbar-right
        %li
          %form{action: "/select_user", method: "post"}
            %select.form-control{onchange: "submit()", name: "user_select"}
              %option Select user
              - User.all.each do |user|
                - if session[:user] == user.name
                  %option{selected: true}
                    = user.name
                - else 
                  %option= user.name
    = yield
